  <div class="white-box" align="center">
    <br>
    <p>目前暫無統計結果，可能是投票數不足。</p>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
        <%= render partial: "random_result" %>
        </div>
      </div>
    </div>
  </div>