<div class="span12">
</div>
<% @links.each do |link| %>
  <div class="span2 box">
    <%= link_to(link) do %>
      <div class="innerbox">
        <i class="label label-info label-large label-title"><%= link.title %></i>
        <div align="center">
        <%= image_tag(link.photos.first.file.tiny) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="span12" align="center">
<%= will_paginate @links %>
</div>