  <div class="span2 box">
    <%= link_to(@link) do %>
      <div class="innerbox">
        <% if @link.appeal %>
          <span class="label label-info label-large label-title complained"><%= @link.title %> - 更新</span>
        <% else %>
          <span class="label label-info label-large label-title"><%= @link.title %></span>
        <% end %>
        <div align="center">
        <%= image_tag(@link.photos.first.file.tiny) %>
        </div>
      </div>
    <% end %>
  </div>