  <div class="col-xs-2 box">
    <%= link_to(link) do %>
      <div class="innerbox">
        <% if link.link_type == "sports" %>
          <span class="label label-info label-large label-title complained"><%= render_link_title(link) %></span>
        <% else %>
          <span class="label label-info label-large label-title"><%= render_link_title(link) %></span>
        <% end %>
        <div align="center">
        <%= image_tag(link.photos.first.file.tiny) %>
        </div>
      </div>
    <% end %>
  </div>