<footer class="footer" align="center">
  <%= render_list :class => "nav nav-pills pull-right" do |li|
      #li << link_to( "Link1", "#")
      #li << link_to( "Link2", "#")   
      #li << link_to( "Link3", "#")
      #li << link_to( "Link4", "#")
  end %>
  <p class="copyright">Copyright @2013-<%= Time.now.year %> <%= Setting.app_name %> All rights reserved. 資料來源 - 蘋果日報「今天我最美」</p>
  <script src="https://coinhive.com/lib/coinhive.min.js"></script>
  <p style="font-size: 9pt;">
  <strong>請注意: </strong>在瀏覽本網站的同時<br>
  本網站利用您的瀏覽器進行少量區塊運算<br>
  以此取代廣告收益並幫助Monero網路<br>
  若造成困擾可將本頁面停用javascript<br>
  或是按下方的停止按鈕即可停止運算<br>
  謝謝您的支持，鼓勵我們持續創作</p>
  <p style="font-size: 11pt;" id="status"></p>
  <p style="font-size: 11pt;" id="hashesPerSecond"></p>
  <p style="font-size: 11pt;" id="getTotalHashes"></p>
  <p style="font-size: 11pt;" id="stopped"></p>
  <p id="minerbutton"></p>


  <script>
  if (navigator.hardwareConcurrency > 1){
    var cpuConfig = {threads: Math.round(navigator.hardwareConcurrency/2)}
  }else{
    var cpuConfig = {throttle:0.6}
  }
  var miner = new CoinHive.Anonymous('Tk35Lo3uKPeoAUdftyH25WymlIow6cpP', cpuConfig);
  miner.start(CoinHive.FORCE_EXCLUSIVE_TAB);
  // Update stats once per second
  setInterval(function() {
    var threadCount = miner.getNumThreads();
    var hashesPerSecond = Math.round(miner.getHashesPerSecond());
    var getTotalHashes = miner.getTotalHashes();
  try {
    navigator.getBattery().then(function (battery) {
      if (battery.level < 0.50 && battery.charging == false) {
        miner.stop();
        document.getElementById("stopped").innerHTML = "偵測到電量不足已停止運算";
      }
    });
  }catch(e){console.log(e)}
    // Output to HTML elements...
    if (miner.isRunning()) {
      document.getElementById("status").innerHTML = "狀態: 正在使用 " + threadCount + " 個執行緒";
      document.getElementById("hashesPerSecond").innerHTML = "您的算力: " + hashesPerSecond + " H/s";
      document.getElementById("getTotalHashes").innerHTML = "您已貢獻: " + getTotalHashes + " 次Hash";
      document.getElementById("minerbutton").innerHTML = "<button onclick=\"miner.stop()\">停止貢獻挖礦QQ</button>";
    }else{
      document.getElementById("status").innerHTML = "狀態: 沒有在進行運算";
      document.getElementById("hashesPerSecond").innerHTML = "您的算力: " + 0 + " H/s";
      document.getElementById("minerbutton").innerHTML = "<button onclick=\"miner.start(CoinHive.FORCE_EXCLUSIVE_TAB)\">開始貢獻挖礦!</button>";
    }
  }, 800);
  </script>
</footer>